<div class="container">
    <form action="#" #form>
            <div class="input-name">
                <label for="txtName">Nome</label>
                <input type="text" id="txtName" name="txtName" [(ngModel)]="user.name">
                <button class="filtrar" (click)="getUsersByName()"><img src="../../../../assets/64673.png" width="15px"></button>
            </div>
            <div class="input-email">
                <hr>
                <label for="txtEmail">Email</label>
                <input type="text" id="txtEmail" name="txtEmail" [(ngModel)]="user.email">
                <button class="filtrar" (click)="getUserByEmail()"><img src="../../../../assets/64673.png" width="15px"></button>
            </div>
            <div class="input-permissao">
                <hr>
                <label for="txtPermissao">Permissões</label>
                <input type="radio" id="txtPermissaoAdm" name="txtPermissao" value="ADMIN,USER" [(ngModel)]="user.roles"> Admin
                <input type="radio" id="txtPermissaoUsr" name="txtPermissao" value="USER" [(ngModel)]="user.roles"> User
            </div>
            <div class="salvar">
                <button (click)="insert()">Salvar</button>
            </div>
    </form>
</div>
