*{
    font-family: sans-serif;
}

.container{
    margin-top: 100px;
}

.container input{
    border: none;
    width: 200px;
    outline: 0;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.salvar button{
    width: 90px;
    height: 30px;
    border-radius: 3px;
    background-color: rgba(0,153,242,255);
    color: white;
    margin-top: 30px;
    border: none;
}

.salvar button:hover {
    background-color: rgba(0, 190, 242, 255);
    cursor: pointer;
}

.input-name button {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 30px;
    top: 140px;
}

.input-permissao input{
    width: 20px;
}
  