<div class="container">
    <form action="#" #form>
            <div class="input-name">
                <label for="txtName">Nome</label>
                <input type="text" id="txtName" name="txtName" placeholder="Nome da pista" [(ngModel)]="track.name">
                <button class="filtrar" (click)="getTracksByName()" title="Busque pelo nome"><img src="../../../../assets/64673.png" width="15px"></button>
            </div>
            <hr>
            <div class="input-size">
                <div class="labels">
                    <label for="txtSize">Tamanho</label>
                    <label class="label-busca" for="txtSize">Buscar entre tamanhos (Metros)</label>
                </div>
                <div class="inputs-botoes">
                    <input type="number" id="txtSize" name="txtSize" placeholder="Tamanho em metros" [(ngModel)]="track.size">
                    <input class="de" type="number" name="txtSize" placeholder="De" [(ngModel)]="sizeI">
                    <p>|</p>
                    <input class="ate" type="number" name="txtSize" placeholder="Até" [(ngModel)]="sizeF">
                    <button (click)="getTracksBySizeBetween()" class="filtrar"><img src="../../../../assets/64673.png" width="15px"></button>
                </div>
            </div>
            <div class="input-country">
                <hr>
                <label for="txtPais">País</label>
                <select id="pais" name="pais" [(ngModel)]="track.country" >
                    <option *ngFor="let country of countryList" [ngValue]="country" name="pais">{{country.name}}</option>
                </select>
                <button class="filtrar" (click)="getTracksByCountry()"><img src="../../../../assets/64673.png" width="15px"></button>

            </div>
            <div class="salvar">
                <button (click)="insert()">Salvar</button>
            </div>
    </form>
</div>
