<div class="container">
    <form action="#" #form>
            <div class="input-name">
                <label for="txtName">Nome</label>
                <input type="text" id="txtName" name="txtName" [(ngModel)]="track.name">
                <button class="filtrar" (click)="getTracksByName()" title="Busque pelo nome"><img src="../../../../assets/64673.png" width="15px"></button>
            </div>
            <div class="input-size">
                <hr>
                <label for="txtSize">Tamanho</label>
                <input type="number" id="txtSize" name="txtSize" [(ngModel)]="track.size">
                <button class="filtrar" (click)="onFindClickSize()"><img src="../../../../assets/64673.png" width="15px"></button>
                <app-track-size-between *ngIf="showTrackSizeBetween"></app-track-size-between>
            </div>
            <div class="input-country">
                <hr>
                <label for="txtPais">País</label>
                <select id="pais" name="pais" [(ngModel)]="track.country" >
                    <option *ngFor="let country of countryList" [ngValue]="country" name="pais">{{country.name}}</option>
                </select>
                <button class="filtrar" (click)="onFindClickCountry()"><img src="../../../../assets/64673.png" width="15px"></button>

            </div>
            <div class="salvar">
                <button (click)="insert()">Salvar</button>
            </div>
    </form>
</div>
