.container{
    margin-top: 30px;
}

.container input{
    border: none;
    width: 97%;
    outline: 0;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.salvar button{
    width: 90px;
    height: 30px;
    border-radius: 3px;
    background-color: rgba(0,153,242,255);
    color: white;
    margin-top: 30px;
    border: none;
}

.salvar button:hover {
    background-color: rgba(0, 190, 242, 255);
    cursor: pointer;
}

.container .input-size {
    display: flex;
    flex-direction: column;
}
  
.container .input-size .labels {
    display: flex;
    gap: 10px;
}
  
.container .input-size .labels label {
    margin-bottom: 5px;
    margin-top: 10px;
}
  
.container .input-size .labels .label-busca label{
    width: 20px;
}
  
.container .input-size .labels .label-busca {
    margin-left: 670px;
}
  
.container .input-size .inputs-botoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .input-size .inputs-botoes .de {
    width: 150px;
    border-bottom: 1px solid black;
}

.container .input-size .inputs-botoes .ate {
    width: 150px;
    border-bottom: 1px solid black;
}

.input-name button{
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.input-size button{
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
} 

.input-country button{
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
} 

.input-country select{
    width: 120px;
} 

