<div class="table-container">
  <table [cellPadding]="0" [cellSpacing]="0">
    <tr class="titulo">
      <td colspan="4">Pistas</td>
    </tr>
    <tr class="cabecalho">
      <td>Nome</td>
      <td>Tamanho</td>
      <td>País</td>
      <td>Ações</td>
    </tr>
    <tr *ngFor="let track of trackList, let i = index">
      <td>{{track.name}}</td>
      <td>{{track.size}}</td>
      <td>{{track.country}}</td>
      <td>
        <button (click)="selectTrack(track)">
          <img src="../../../../assets/edit.png" width="15px" alt="Editar">
        </button>
        <button (click)="delete(track)">
            <img src="../../../../assets/delete.png" width="15px" alt="Excluir">
          </button>
      </td>
    </tr>
  </table>
</div>

