<table [cellPadding]="0" [cellSpacing]="0">
    <tr class="titulo">
      <td colspan="2">Países</td>
    </tr>
    <tr class="cabecalho">
      <td>Nome</td>
      <td>Ações</td>
    </tr>
    <tr *ngFor="let country of countryList, let i = index">
      <td>{{country.name}}</td>
      <td>
        <button (click)="selectCountry(country)">
          <img src="../../../../assets/edit.png" width="15px" alt="Editar">
        </button>
        <button (click)="delete(country)">
            <img src="../../../../assets/delete.png" width="15px" alt="Excluir">
          </button>
      </td>
    </tr>
</table>
