<div class="container">
    <form action="#" #form>
            <div class="input-name">
                <label for="txtName">Descrição</label>
                <input type="text" id="txtName" name="txtName" [(ngModel)]="championship.description">
                <button class="filtrar" (click)="getChampionshipByDescription()"><img src="../../../../assets/14309.png" width="15px"></button>
                <hr>
            </div>
            <div class="input-year">
                <label for="txtYear">Ano do Campeonato</label>
                <input type="number" id="txtYear" name="txtYear" [(ngModel)]="championship.year">
                <hr>
            </div>
            <div class="salvar">
                <button (click)="insert()">Salvar</button>
            </div>
    </form>
</div>
